*{
	margin: 0;
	font-family: arial,sans-serif;
}

body{
	position: relative;
	min-height: 100vh;
}

#root{
	min-width: 250px;
	padding-bottom: 279px;
}

p{
	padding: 1rem;
}

a{
	display: inline-block;
	text-decoration: none;
	color: black;
}

label{
	font-size: 1.5rem;
	padding: 1rem 0;
	display: block;
	width: 100%;
}
input{
	display: block;
	font-size: 1.5rem;
	width: calc(100% - 8px);
}

button{
	width: 100%;
	font-size: 1.2rem;
	display: block;
	padding: 0.5rem 0.5rem;
}
