*{
	margin: 0;
	font-family: arial,sans-serif;
}
body{
	position: relative;
	min-height: 100vh;
}
#root{
	min-width: 250px;
	padding-bottom: 279px;
}

.modalStyles{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(255, 255, 255);
	/*display: none;*/
	padding: 50px;
	z-index: 1000;
}

.overlayStyles{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
}

/*#root{
	display: flex;
}*/

/*.header{
	position: fixed;
	width: calc(100% - 32rem);
	background-color: #37003c;
	padding: 0rem 16rem;
	display: flex;
	justify-content: space-between;
	letter-spacing: 1px;
	line-height: 1.5rem;
	font-size: 1.1rem;
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
}*/

/*.sponsors{
	width: calc(100% - 32rem);
	flex-wrap: wrap;
	background-color: rgb(213, 215, 215);
	color: #fff;
	padding: 0rem 16rem;
	display: flex;
	justify-content: space-between;
	letter-spacing: 1px;
	line-height: 1.5rem;
	font-size: 1.1rem;
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
}*/

/*.footer{
	width: calc(100% - 32rem);
	background-color: black;
	color: #fff;
	padding: 0rem 16rem;
	display: flex;
	justify-content: center;
	letter-spacing: 1px;
	line-height: 1.5rem;
	font-size: 1.1rem;
    font-family: PremierSans-Bold,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
}*/

/*.headerLinks{
	color: #fff;
	display: inline-block;
	text-decoration: none;
	padding: 1rem;
}

.headerLinks:hover{
	font-size: 1.2rem;
	color: #61dafb;
	border-bottom: 4px solid #61dafb;
	padding-bottom: calc(1rem - 4px);
}*/

p{
	padding: 1rem;
}

/*.content{
	padding: 0rem 16rem;
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
}*/

/*.sponsorPuma{
	display: block;
	padding: 3rem 1rem;
	width: 230px;
	height: 130px;
}

.sponsorFifa{
	display: block;
	padding: 4.5rem 1rem;
	width: 400px;
	height: calc(130px - 3rem);
}

.sponsorMicrosoft{
	display: block;
	padding: 4.5rem 1rem;
	width: 300px;
	height: calc(130px - 3rem);
}*/

a{
	display: inline-block;
	text-decoration: none;
	color: black;
}

/*.content{
	padding: 7rem 17rem 4rem 17rem;
}

.flexBox{
	display: flex;
	flex-wrap: wrap;
}*/

/*.box{
	height: 12rem;
	width: calc(100% / 4 - 12px);
	border-radius: 10%;
	margin: 0 1rem 1rem 0;
	box-shadow: 0 0.5rem 0.5rem rgb(0 0 24 / 10%);
	background-color: #f4f5f6;
    font-family: 'SF Pro Display','-apple-system','BlinkMacSystemFont',
    'San Francisco','Helvetica Neue','Helvetica','Ubuntu','Roboto','Noto','Segoe UI','Arial',sans-serif;
}

.box:nth-child(4n){
	margin-right: 0;
}

.box:hover{
	cursor: pointer;
	background-color: #e9ebed;
}*/

/*.textCenter{
	text-align: center;
}*/

/*.leagueLogos{
	display: block;
	width: 5rem;
	height: 5rem;
	margin: 0 auto;
}*/

/*.standings{
	padding: 4rem 16rem;
}*/

/*.teamName{
	width: 30%;
	text-align: left;
}*/

/*table{
	width: 100%;
}
tbody{
	width: 100%;
}
th{
	padding: 0.8rem 1rem;
}
td{
	vertical-align: top;
	text-align: center;
	padding: 0.8rem 1rem;
	font-family: "proxima-nova", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
	color: #525860;
	font-size: 1rem;
	font-weight: 400;
	border-bottom: 1px solid grey;
}*/

/*.win{
	width: calc(70% / 7);
}

.loose{
	width: calc(70% / 7);
}

.tie{
	width: calc(70% / 7);
}

.gamesPlayed{
	width: calc(70% / 7);
}

.goalsFor{
	width: calc(70% / 7);
}

.goalsAgainst{
	width: calc(70% / 7);
}

.totalPoints{
	width: calc(70% / 7);
}*/

/*.teamsHeading{
	background-color: rgb(213, 215, 215);
}*/

/*.teams:hover{
	background-color: #e9ebed;
}*/

.teamLogo{
	display: inline-block;
	height: 100%;
	width: 1.5rem;
}

/*.dropDownBox{
	display: inline-block;
	padding: 1rem;
}*/

.login, .signup{
	width: 30%;
	margin: auto;
	padding-top: 56px;
}

label{
	font-size: 1.5rem;
	padding: 1rem 0;
	display: block;
	width: 100%;
}
input{
	display: block;
	font-size: 1.5rem;
	width: calc(100% - 8px);
}

.submitButton{
	width: 37%;
	margin: 2rem auto;
}

button{
	width: 100%;
	font-size: 1.2rem;
	display: block;
	padding: 0.5rem 0.5rem;
}

/*.leagueNames{
	width: calc(80% - 2rem);
}*/

/*.widthFull{
	width: 100%;
}*/

.inputClass{
	padding: 1rem 1rem 1rem 0;
	width: calc(20% - 1rem);
}

/*.star {
	display: block;
	padding: 0.1rem;
}*/

.Loader{
	color: #37003c;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 13rem 0rem;
}
